/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

/* Cabeçalho */
.header {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: #0056b3; /* Azul principal */
    margin-bottom: 15px;
}

.subtitle {
    font-size: 18px;
    color: #666; /* Cor neutra para o subtítulo */
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Estilo do Carrossel de Imagens */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carouselImage.expanded {
    width: 100%; /* Quando expandida, a imagem ocupa 100% do container */
    max-width: none; /* Remover o limite máximo de largura */
    height: auto;
}

.carouselImage {
    width: 100%; /* Ou defina um valor fixo, como 300px */
    max-width: 600px; /* Defina o tamanho máximo desejado */
    object-fit: cover; /* Garantir que a imagem não distorça */
    transition: transform 0.3s ease; /* Transição suave para o zoom */
}

.carouselControls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.carouselButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carouselButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Seção de Impacto */
.impactSection {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out;
}

.impactSection:hover {
    transform: translateY(-10px);
}

.impactTitle {
    font-size: 30px;
    color: #0056b3; /* Azul principal */
    margin-bottom: 20px;
}

.impactText {
    font-size: 16px;
    color: #555; /* Cor neutra */
    line-height: 1.6;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat {
    text-align: center;
}

.statNumber {
    font-size: 36px;
    color: #0056b3; /* Azul principal */
    font-weight: bold;
}

.statDescription {
    font-size: 14px;
    color: #777;
}

/* Seção de Cargos de Voluntário */
.volunteerRoles {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.rolesTitle {
    font-size: 30px;
    color: #0056b3; /* Azul principal */
    margin-bottom: 20px;
}

.rolesList {
    list-style: none;
    padding: 0;
}

.roleItem {
    margin-bottom: 30px;
}

.roleTitle {
    font-size: 22px;
    color: #333;
}

.roleDescription {
    font-size: 16px;
    color: #666;
}

.joinButton {
    display: block;
    margin: 20px auto 0;
    padding: 10px 30px;
    background-color: #6d7b2f; /* Verde escuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.joinButton:hover {
    background-color: #92a945; /* Hover mais claro */
}

/* Formulário */
.formSection {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.formTitle {
    font-size: 30px;
    color: #0056b3; /* Azul principal */
    margin-bottom: 20px;
}

.formDescription {
    font-size: 16px;
    color: #555; /* Cor neutra */
    line-height: 1.6;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.formLabel {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.formInput,
.formSelect {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.formSubmit {
    padding: 10px 30px;
    background-color: #0056b3; /* Azul principal */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formSubmit:hover {
    background-color: #003d80; /* Hover mais escuro */
}
